<form [formGroup]="swapForm">
    <div>
        <label for="direction">Direction</label>
        <select id="direction" formControlName="direction">
            @for (direction of directions; track direction) {
            <option [value]="direction">
                {{ direction }}
            </option>
            }
        </select>
    </div>
    <div>
        <label for="notional">Notional</label>
        <input id="notional" type="number"  min="0" formControlName="notional">
    </div>
    <div>
        <label for="currency"> Currency</label>
        <select name="currency" id="currency" formControlName="currency">
            @for (currency of currencies; track $index) {
                <option [value]="currency">
                    {{ currency }}
                </option>
            }
        </select>
    </div>
    <div>
        <label for="startDate">StartDate</label>
        <input type="date" id="startDate" formControlName="startDate">
    </div>
    <div>
        <label for="endDate">EndDate</label>
        <input type="date" id="endDate" formControlName="endDate">
    </div>
    <div>
        <label for="fixedRate">Fixed Rate</label>
        <input type="number" id="fixedRate" min="0" max="10" formControlName="fixedRate">
    </div>
    <div>
        <label for="floatingIndex">Floating index</label>
        <select name="floatingIndex" id="floatingIndex" formControlName="floatingIndex">
            @for (floatingIndexItem of availableFloatingIndexes(); track $index) {
                <option [value]="floatingIndexItem">
                    {{ floatingIndexItem }}
                </option>
            }
        </select>
    </div>
    
</form>
<div class="actions">
    <button type="submit" [disabled]="swapForm.invalid">
        Add Swap
    </button>
</div>