.app-content {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(500px, 2fr);
  flex: 1;
  padding: 2rem 0;
}

.swap-form-section,
.swap-table-section {
  padding: 1.5rem 2rem;

  h2 {
    margin-top: 0;
    text-align: center;
    font-size: 1.25rem;
  }
}

.swap-table-section {
  border-left: 2px solid;
}